asttokens==3.0.0
attrs==24.2.0
blinker==1.9.0
category-encoders==2.6.4
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
comm==0.2.2
confluent-kafka==2.8.0
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
deprecation==2.1.0
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.21.1
Flask==3.0.3
fonttools==4.55.2
idna==3.10
imbalanced-learn==0.12.4
importlib_metadata==8.5.0
ipython==8.30.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kafka-python==2.0.2
kaleido==0.2.1
kiwisolver==1.4.7
lightgbm==4.5.0
llvmlite==0.43.0
MarkupSafe==3.0.2
matplotlib==3.7.5
matplotlib-inline==0.1.7
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.60.0
numpy==1.26.4
orjson==3.10.12
packaging==24.2
pandas==2.1.4
parso==0.8.4
patsy==1.0.1
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
plotly-resampler==0.10.0
pmdarima==2.0.4
prompt_toolkit==3.0.48
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycaret==3.3.2
Pygments==2.18.0
pyod==2.0.2
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
referencing==0.35.1
requests==2.32.3
retrying==1.3.4
rpds-py==0.22.3
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-plot==0.3.7
scipy==1.11.4
six==1.17.0
sktime==0.26.0
stack-data==0.6.3
statsmodels==0.14.4
tbats==1.1.3
tenacity==9.0.0
threadpoolctl==3.5.0
tqdm==4.67.1
traitlets==5.14.3
tsdownsample==0.1.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.0.6
widgetsnbextension==4.0.13
wurlitzer==3.1.1
xxhash==3.5.0
yellowbrick==1.5
zipp==3.21.0
